<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QTMeats_UserPage</title>
  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Theme CSS -->
  <link href="css/freelancer.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top background-orange-gradient" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">QTMEats</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#bebidas">Bebidas</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#dulces">Dulces</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#ensalada">Ensalada</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#comida">Comida</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#miOrden">Mi Orden</a>
          </li>
          <!--Logout Button Nav-->
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="file:///C:/Users/Putito/Desktop/Desktop/Generation/Project/GIT%202/ProyectoFinal/WebContent/login.html#signIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <h1 class="display-1">Bienvenidos</h1>
  </header>

  <!-- Bebidas Section -->
  <section class="page-section portfolio" id="bebidas">
    <div class="container">

      <!-- Bebidas Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bebidas</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <img src="img/iconlogo.png">
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!--Bebidaso Grid Items -->
      <div class="row">

        <!-- Bebidas Arizona -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Bebidas/bebida1_arizona.png" alt="" title="Arizona">
          </div>
        </div>

        <!-- Bebidas coca cola -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Bebidas/bebidas2_coca.png" alt="" title="Coca-Cola">
          </div>
        </div>

        <!-- Bebidas cafe -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Bebidas/bebidas2_cafe.png" alt="" title="Cafe">
          </div>
        </div>

        <!-- Portfolio Item 4 
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Bebidas/bebida4.jpg" alt="" title="Americano">
          </div>
        </div> -->

        <!-- Portfolio Item 5 
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/safe.png" alt="">
          </div>
        </div> -->

        <!-- Portfolio Item 6 
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
          </div>
        </div> -->

      </div>
      <!-- /.row -->
    </div>
  </section>

    <!-- Dulces Section -->
    <section class="page-section portfolio" id="dulces">
      <div class="container">
    
        <!-- Dulce Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Dulces</h2>
    
        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <img src="img/iconlogo.png">
          </div>
          <div class="divider-custom-line"></div>
        </div>
    
        <!--BDulce Grid Items -->
        <div class="row">
    
          <!-- Dulce Item 1 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <img src="img/iconlogo.png">
                </div>
              </div>
              <img class="img-fluid" src="img/menu/Dulces/papas.png" alt="" title="Papas">
            </div>
          </div>
    
          <!-- Dulce Item 2 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <img src="img/iconlogo.png">
                </div>
              </div>
              <img class="img-fluid" src="img//menu/Dulces/Galletas.png" alt="" title="Galletas">
            </div>
          </div>
    
          <!-- Dulce Item 3 -->
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <img src="img/iconlogo.png">
          </div>
        </div>
        <img class="img-fluid" src="img/menu/Dulces/Chocolate.png" alt="" title="Chocolates">
        </div>
        </div>
        <!-- /.row -->
      </div>
    </section>

     <!-- Ensalada Section -->
  <section class="page-section portfolio" id="ensalada">
    <div class="container">

      <!-- Ensalada Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ensalada</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <img src="img/iconlogo.png">
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!--Ensalada Grid Items -->
      <div class="row">

        <!-- Ensalada Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalE1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Ensalada/ensalada_verdura.png" alt="" title="Ensalada Verdura">
          </div>
        </div>

        <!-- Ensalada Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalE2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Ensalada/ensalada_fruta.png" alt="" title="Ensalada Fruta">
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>

  <!-- Comida Section -->
  <section class="page-section portfolio" id="comida">
    <div class="container">

      <!-- Comida Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Comida</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <img src="img/iconlogo.png">
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!--BComida Grid Items -->
      <div class="row">

        <!-- Comida Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalC1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Comida/comida_quesadilla.png" alt="" title="Quesadilla">
          </div>
        </div>

        <!-- Comida Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalC2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Comida/comida_sandwich.png" alt="" title="Sandwich">
          </div>
        </div>

        <!-- Comida Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModalC3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <img src="img/iconlogo.png">
              </div>
            </div>
            <img class="img-fluid" src="img/menu/Comida/comida_pizza.png" alt="" title="Pizza">
          </div>
        </div>
      <!-- /.row -->
    </div>
  </section>

  <!-- miOrden Section -->
  <section class="page-section" id="miOrden">
    <div class="container">

        <!-- miOrden Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mi Orden</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img src="img/icons/shopping-cart.png">
            </div>
            <div class="divider-custom-line"></div>
        </div>


        <!-- Carrito Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
              <!-- contenedor de productos agregados -->
              <div id="misProductos">
                <!--Carrito Producto 1-->
                <div class="miOrdenProducto">
                    <div class="row">
                        <div class="miOrdenProductoNombre col-8 col-md-10">
                          <h5 class="text-uppercase text-secondary">Nombre del producto</h5>
                        </div>  
                    </div>
                    <div class="row">
                      <div id="miOrdenResultado" class="miOrdenProductoDescripcion text-secondary col-8 col-md-10">
                          
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="row">
                                <div class="col-6  miOrdenProductoBoton">
                                    <input type="button" value="Eliminar" class="btn btn-secondary btn-sm"></button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-2 col-sm-6 col-md-8 col-lg-8 col-xl-9"></div>-->
                    </div>
                    <hr class="miHR" />
                </div>
              </div>
                <!--Boton Pagar Orden-->
                <div class="miOrdenTotal text-secondary">
                    <div class="row">
                        <div class="col-8 col-sm-10">
                            <h4>Total: </h4>
                        </div>
                        <div class="col-4 col-sm-2">
                            <h4>$140.00</h4>
                        </div>
                    </div>
                </div>
                <form name="sentMessage" id="miOrdenForm" novalidate="novalidate">
                    <div class="form-group">
                        <input type="button" value="Pagar" class="btn btn-primary btn-xl text-uppercase" id="btnPagar">Pagar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">2215 John Daniel Drive
            <br>Clark, MO 65243</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/">
            <img src="img/icons/fb.png" title="facebook" width="42" height="42">
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/">
            <img src="img/icons/tt.png" title="twitter" width="42" height="42">
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/?hl=en">
            <img src="img/icons/ig.png" width="42" height="42">
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <img src="img/icons/dscrd.png" width="42" height="42">
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
            <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>QTM EATS &copy;</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->
  <!-- Modals for Drinks -->
  <!-- Portfolio  Arizona -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Arizona</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid" src="img/menu/Bebidas/bebida1_arizona.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br><br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="opcion" name="opcion" id="arizonaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Sandia">Sandia</option>
                      <option value="Te verde">Te verde</option>
                      <option value="Mango">Mango</option>
                    </select><br>
                    <p>
                      <textarea id="comentarios" name="comentarios"
                       class="form-control" rows="4" cols="70">Comentarios...</textarea>
                    </p>
                    <p>
                      <input id="btnAgregar" name="btnAgregar" type="button" value="Agregar al carrito" class="btn btn-primary">
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio coca cola -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Coca-Cola</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Bebidas/bebidas2_coca.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="cocaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Sandia">Coca-Cola</option>
                      <option value="Te verde">Sprite</option>
                      <option value="Mango">Manzanita</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal Cafe -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cafe</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Bebidas/bebidas2_cafe.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="cafeSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Americano">Cafe Americano</option>
                      <option value="Moka">Cafe Moka</option>
                      <option value="Esspreso">Cafe Expresso</option>
                    </select><br>
                    <p>
                      <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                    </p>
                    <p>
                      <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals for Candies -->
  <!-- Portfolio Modal Papas -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Papas</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/portfolio/game.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="cocaSelect" required>
                      <option disabled selected value=""> -- Elige el tipo -- </option>
                      <option value="Sandia">Sabritas</option>
                      <option value="Te verde">Takis</option>
                      <option value="Mango">Chips</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal Galletas -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Galletas</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Dulces/Galletas.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="galletaSelect" required>
                      <option disabled selected value="">Elige el tipo --</option>
                      <option value="Emperador">Emperador</option>
                      <option value="Arcoiris">Arcoiris</option>
                      <option value="Canelitas">Canelitas</option>
                    </select><br>
                    <p>
                      <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                    </p><br>
                    <p>
                      <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal Chocolates -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Chocolates</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/portfolio/submarine.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="chocolateSelect" required>
                      <option disabled selected value=""> -- Elige el tipo -- </option>
                      <option value="Hershey">Hershey</option>
                      <option value="Snicker">Snicker</option>
                      <option value="Reeses">Reese's</option>
                    </select><br>
                    <p>
                      <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                    </p><br>
                    <p>
                      <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals Ensaladas -->
  <!-- Portfolio Modal Ensalada 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModalE1" tabindex="-1" role="dialog" aria-labelledby="portfolioModalE1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Ensalada Verduras</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Ensalada/ensalada_verdura.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="ensaladaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Verdura">Verdura</option>
                      <option value="Pollo">Pollo</option>
                      <option value="Cesar">Cesar</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Portfolio Modal Ensalada 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModalE2" tabindex="-1" role="dialog" aria-labelledby="portfolioModalE2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <img src="img/banner_mini.jpg" title="close">
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Ensalada Fruta</h2>
                  <!-- Icon Divider -->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <img src="img/iconlogo.png">
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="img/menu/Ensalada/ensalada_pollo.png" alt="">
                  <!-- Portfolio Modal - Text -->
                  <br>
                  <form action="" method="POST">
                    <div class="form-group">
                      <select class="form-control" id="ensaladaFrutaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Manzana">Manzana</option>
                      <option value="Platano">Platano</option>
                      <option value="Bionico">Bionico</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals Comida -->
    <!-- Portfolio Modal Comida 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModalC1" tabindex="-1" role="dialog" aria-labelledby="portfolioModalC1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Quesadilla</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Comida/comida_quesadilla.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="quesadillaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Jamon">Jamon</option>
                      <option value="Pavo">Pavo</option>
                      <option value="Chilorio">Chilorio</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal Comida 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModalC2" tabindex="-1" role="dialog" aria-labelledby="portfolioModalC2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Sandwich</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Comida/comida_sandwich.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="sandwichSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Jamon">Jamón</option>
                      <option value="Pavo">Pavo</option>
                      <option value="Atun">Atún</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal Comida 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModalC3" tabindex="-1" role="dialog" aria-labelledby="portfolioModalC3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/banner_mini.jpg" title="close">
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Molletes</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src="img/iconlogo.png">
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="img/menu/Comida/comida_mollete.png" alt="">
                <!-- Portfolio Modal - Text -->
                <br>
                <form action="" method="POST">
                  <div class="form-group">
                    <select class="form-control" id="pizzaSelect" required>
                      <option disabled selected value=""> -- Elige el sabor -- </option>
                      <option value="Pepperoni">Pepperoni</option>
                      <option value="Mexicana">Mexicana</option>
                      <option value="Margarita">Margarita</option>
                    </select><br>
                  <p>
                  <textarea class="form-control" rows="4" cols="70">Comentarios...</textarea>
                  </p><br>
                  <p>
                  <input id="btnAgregar" type="submit" value="Agregar" class="btn btn-primary">
                  </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  
  <script src="js/script.js"></script>

</body>

</html>
